.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: #fff;
    height: 14rem;
}

.footer-elements{
    padding: 25px 0 0 0;
    margin-left: 5%;
    text-align: center;
}

.footer-container {
    display: inline-block;
}

@media screen and (max-width: 768px) {
    .footer {
        height: 24rem;
    }
    .footer-elements{
        padding: 0;
        margin-left: 0%;
    }

    .footer-container {
        display: inherit;
    }
}

@media screen and (max-width: 578px) {
    .footer {
        height: 34rem;
    }
}